.footer{
    background: #252B42;
    margin-top: 85px;
    color: white;
    padding-top: 140px;
    padding-bottom: 125px;
}

ul{
    list-style: none;
}

.footer-section{
    width: 1100px;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
}
.footer-left-item-list{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;  
    translate: 30px;
}

.footer-list-heading{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-list-item{
    font-size: 0.8rem;
    font-weight: lighter;
    
}

.footer-left{
    display: flex;
    gap: 100px;
    padding-inline: 30px;
}
.location{
    display: flex;
    align-items: center;
    gap: 0;
    translate: -50px -20px;

}

.footer-right{
  font-size: 0.8rem;
  translate: -20px 10px;
}

.contact{
    display: flex;
    align-items: center;
    translate: -50px -30px;
    margin-top: 20px;
}

.social-links{
    display: flex;
    align-items: center;
    translate: -50px 0px;
    gap:20px;
}

.list1{
  translate:30px -6px;
}

.list2{
  translate:43px -6px;
}
.list3{
  translate: 18px -5px;
}



@media (max-width: 1024px) {
    .footer-section {
      width: 90%;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: center;
    }
  
    .footer-left {
      flex-wrap: wrap;
      gap: 60px;
      padding-inline: 10px;
      justify-content: center;
    }
  
    .footer-left-item-list {
      translate: 0;
    }
  
    .location,
    .contact,
    .social-links {
      translate: 0;
      justify-content: center;
    }
  }
  
  @media (max-width: 768px) {
    .footer {
      padding-block: 100px;
    }
  
    .footer-section {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .footer-left {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    .footer-right{
      translate: 0px 0px;
    }
  
    .footer-left-item-list {
      align-items: center;
    }
  
    .location,
    .contact{
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }
  
    .social-links {
      margin-top:10px
  }
  }
  
  @media (max-width: 480px) {
    .footer-list-heading {
      font-size: 1rem;
    }
  
    .footer-list-item {
      font-size: 0.7rem;
    }
  
    .footer {
      padding-block: 80px;
    }
  
    .footer-left {
      gap: 30px;
    }
  }